<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Housing Recommender">
    <meta name="author" content="Elise Reppond">
    <title>Housing Recommender</title>
    <!-- styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
 
  <body>
  	<img src="{{url_for('static', filename='header.jpg')}}" style="width:100%; height:auto; margin:0 auto;"/>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#recipes-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Housing Recommender</a>
        </div>
   
          <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="recipes-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Seattle Data Example</a></li>
            <li><a href="{{ url_for('favorites') }}">How to get favorites</a></li>
            <li><a href="{{ url_for('recommendations') }}">Recommendations</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('welcome') }}">Welcome!</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!-- /.container -->
    </nav>
    <div class="section quicksummary  sticky " id="quick_summary_section" style="text-align: center;">
  		<h2>
  			<span class="mw-headline" id="Quick_Summary">Quick Summary</span>
      </h2>
			<div id="quicksummary" class="section_text">
				<p>1. Go to <b><a href='redfin.com'>Redfin.com</a></b>.<br>
				2. Login to your account.<br>
				3. Scroll over your name in the top right corner.<br>
				4. Click on 'favorites'.<br>
				5. Click the 'Download' button.<br>
				6. Save your favorites to your computer.<br>
				<span id="summary_last_sentence"></span>
        <span id="summary_position" class="sumpos_top"></span></p>
			</div>
	  </div>
    <div class="features-icons-icon d-flex">
    	<p style="text-align: center;"> <b class="whb"> <br> Go to <a href='redfin.com'>Redfin.com</a> and login to your account.</b>
			<br></br>
  		<img src="{{url_for('static', filename='step-1.jpg')}}" align="middle" style="width:70%; height:70%; margin:3 auto;"/>
      </p>
    </div>
    <div class="features-icons-icon d-flex">
		  <p style="text-align: center;"> <b class="whb"> <br> Scroll over your name in the top right corner and click on 'favorites'.</b>
        <br></br>
  		  <img src="{{url_for('static', filename='step-2.png')}}" align="middle" style="width:70%; height:70%; margin:3 auto;"/>
      </p>
    </div>
    <div class="features-icons-icon d-flex">
      <p style="text-align: center;"> <b class="whb"> <br> Click the 'Download' button.</b>
        <br></br>
  		  <img src="{{url_for('static', filename='step-3.png')}}" align="middle" style="width:70%; height:70%; margin:3 auto;"/>
      </p>
    </div>		
    <div class="features-icons-icon d-flex">
		  <p style="text-align: center;"> <b class="whb"> <br> Save the file somewhere you can find it.</b>
        <br></br>
  		  <img src="{{url_for('static', filename='step-4.png')}}" align="middle" style="width:70%; height:70%; margin:3 auto;"/>
      </p>
    </div>
  </body>
</html>